/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background: #0a192f;
    color: white;
    height: 100vh;
}

/* Navigation Bar */
.navbar {
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 28px;
    font-weight: 700;
    color: #64ffda;
}

.nav-btn {
    padding: 10px 20px;
    border: 2px solid #64ffda;
    background: transparent;
    color: #64ffda;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}

.nav-btn:hover {
    background: #64ffda;
    color: #0a192f;
}

/* Hero Section */
.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero-content {
    max-width: 600px;
    margin: auto;
    text-align: center;
    padding: 20px;
}

.hero-content h2 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 20px;
    margin-bottom: 30px;
    color: #b8c4d4;
}

.cta-btn {
    padding: 14px 32px;
    background: #64ffda;
    color: #0a192f;
    border: none;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.25s ease;
}

.cta-btn:hover {
    transform: scale(1.05);
    background: #5ee8c6;
}

